pbr
keystoneauth1
keystonemiddleware
oslo.config
oslo.log
oslo.middleware
oslo.policy
stevedore
python-freshdesk
flask
flask_restful
marshmallow
flask_marshmallow
python-memcached
setuptools  # keystonemiddleware depends on this but doesn't include it in requirements
