<h2 style="color:blue;">Subject: {{ subject }}</h2>
{{ body }}
<br>
<br>
<p>The Nectar Research Cloud is part of the ARDC and supported by NRCIS."</p>
<p>
  <em>The ARDC acknowledges the Traditional Owners of the lands that we live and work on<br>
    across Australia and pays its respect to Elders past, present and emerging.
  </em>
</p>
